name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rustfmt
      - name: Build
        run: cargo build --all --release
      - name: Lint
        run: cargo clippy --all -- -D warnings
      - name: Format
        run: cargo fmt --all -- --check
      - name: Test
        run: cargo test --all -- --nocapture 